Debug
Release
Unittest
docs
ui.log
obj
*.suo
Thumbs.db
.dub
bin
*.obj
*.~*
*.*~
.*.sw*
trace.def
trace.log
dlanguilib.lib
dub.selections.json
index.html
api.html
screenshots.html
*.log
include
lib/res
