[submodule "deps/DerelictUtil"]
	path = deps/DerelictUtil
	url = https://github.com/DerelictOrg/DerelictUtil.git
[submodule "deps/DerelictGL3"]
	path = deps/DerelictGL3
	url = https://github.com/DerelictOrg/DerelictGL3.git
[submodule "deps/DerelictFT"]
	path = deps/DerelictFT
	url = https://github.com/DerelictOrg/DerelictFT.git
[submodule "deps/DerelictSDL2"]
	path = deps/DerelictSDL2
	url = https://github.com/DerelictOrg/DerelictSDL2.git
[submodule "deps/x11"]
	path = deps/x11
	url = https://github.com/nomad-software/x11.git
[submodule "deps/DerelictCocoa"]
	path = deps/DerelictCocoa
	url = https://github.com/p0nce/DerelictCocoa.git
[submodule "deps/DSFML"]
	path = deps/DSFML
	url = https://github.com/Jebbs/DSFML.git
